.main-menu {
  padding: 10px 20px;
  &__item {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    margin: 6px 0;
    transition: opacity 0.3s;
    &:hover {
      color: #fff;
      opacity: 0.6;
    }
    &-icon {
      width: 16px;
      height: 16px;
      flex: none;
    }
    &-text {
      padding-left: 16px;
      font-size: 15px;
    }

    &.is-active {
      background: #4b495f;
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      &:hover {
        opacity: 1;
      }
    }
  }
}