$widget-grid-is-partners: 42px 1.5fr 1.8fr;
$widget-grid-is-stocks: 42px 2fr 1.3fr 1.3fr 1fr;
$widget-grid-is-shops: 42px 1.5fr 1.8fr;


.widget-grid {
  &__header {
    display: grid;
    font-size: 12px;
    color: #8c8c8c;
    text-transform: uppercase;
    padding: 10px 20px;
    gap: 14px;

    &.is-partners {
      grid-template-columns: $widget-grid-is-partners;
    }
    &.is-stocks {
      grid-template-columns: $widget-grid-is-stocks;
    }
    &.is-shops {
      grid-template-columns: $widget-grid-is-shops;
    }
  }
}


.widget-item {
  display: grid;
  gap: 14px;
  background: #FFFFFF;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 20px;
  @include font(15px, 400, 1);
  color: $color-black;
  height: 80px;
  margin-bottom: 14px;
  transition: 0.3s;
  cursor: pointer;
  p {
    margin: 0;
  }
  &:hover {
    border: 1px solid #d8d8d8;
    color: $color-black;
  }
  &__statistic {
    font-size: 13px;
  }

  &__description {

  }

  &__icon {
    width: 42px;
    height: 42px;
    background: #f4f5f7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-svg {
      fill: #2b2936;
      width: 16px;
      height: 16px;
      flex: none;
    }
  }

  & > div {
    align-self: center;
    justify-self: start;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 48px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &.is-partners {
    grid-template-columns: $widget-grid-is-partners;
  }

  &.is-stocks {
    grid-template-columns: $widget-grid-is-stocks;
  }

  &.is-shops {
    grid-template-columns: $widget-grid-is-shops;
  }
}