.layout {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  &__aside {
    background-color: #2A2836;
    width: 280px;
    height: 100%;
    min-height: 500px;
    position: fixed;
  }
  &__body {
    margin-left: 280px;
    flex-grow: 1;
    max-width: 1170px;
  }
}